.container {
   & .header-pages {
    flex-direction: column;
    position: absolute;
    bottom: 35%;
    text-align: center;
        
    @media (max-width: 1024px) {
        position: absolute;
        //top: 1%;
        //background-color: rgba(114, 110, 110, 0.575);
        font-size: 0.7em;
        }

    & h1{
        font-size: 2em;
        @media (max-width: 1024px) {
            position:fixed;
            top: 10%
        }
        
    }

    & h4 {
        font-size: 1.5em;
        @media (max-width: 1024px) {
            position:fixed;
            top: 15%
        }
        
    }

    & nav {
        font-size: 1.3em;
        padding-top: 1px;
    }
}

}

.offcanvas.offcanvas-end.toggle-pages {
        width: 6em;
    }
