/* .section-cv {
    align-self: center;
    justify-content: center;
    z-index: 2;

& p {
    z-index: 2;
}
} */

/* .portafolio {
    & .curriculum {
        font-size: 15px;
        position: fixed;
        bottom:30%;
    }
} */